# Dependency directories
node_modules/
.cache/

# Build files
build/
dist/

# Environment variables
.env
.env.local
.env.development
.env.production

# System files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
